/* dr-sport styles start */
#breadcrumb {background:transparent url(http://www.dr.dk/sportscripts/wiki/bg_bredCrumb.gif) 221px 0 no-repeat;}
#contentFooter p a,#contentFooter p a:visited {color:#4189a3;}
#wrapFooter #contentFooter p {text-indent:0px;margin:0;padding:10px;}



#middleWrap  {background:transparent url(http://www.dr.dk/sportscripts/wiki/bg_content.gif) left bottom no-repeat;padding-bottom:20px;margin-bottom:20px;}
/* dr-sport styles end */


#drWiki .editButtons input {background-color:#4189a3;color:white;}

#drWiki #bodyContent {width:600px;overflow:auto;}


#drWiki #content {background:transparent}
#drWiki * {font-size:11px;line-height:14px;}
#drWiki {margin:0 0 0 10px;}

/* edit */
#contentTop {width:610px;height:60px;background:#4189a3 url(http://www.dr.dk/sportscripts/wiki/bg_lokalTop.gif) 0 0 no-repeat;position:relative;bg_lokalTop.gif}
#wikicontent {padding:0 0px 10px 10px;background:#fff url(http://www.dr.dk/sportscripts/wiki/bg_body.jpg) 115px -60px no-repeat;width:610px;}

/* - - - - - - - - - - - -- - - - - -  */

#drWiki .visualClear {
	clear: both;
}

/* general styles */

#drWiki table {
	font-size: 100%;
	color: black;
}
#drWiki a {
	text-decoration: none;
	color: #4189a3;
	background: none;
}
#drWiki a:visited {
	color: #4189a3;
}
#drWiki a:active {
	color: #4189a3;
}
#drWiki a:hover {
	text-decoration: underline;
}
#drWiki a.stub {
	color: #99ff00;
}
#drWiki a.new,#drWiki  a.new:visited {

	color:#b61e3a;
}


#drWiki #p-personal a.new, #drWiki #p-personal a.new:visited { color: #e3edf0;}


#drWiki img {
	border: none;
	vertical-align: middle;
}
#drWiki p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
/* -------------------------------------------------------------------------- */
#drWiki p img {
	margin: 0;
}

#drWiki hr {
	border: 0;
	margin: .2em 0 .2em 0;
	background:transparent url(http://www.dr.dk/sportscripts/wiki/bg_hr.gif) 0 0 repeat-x;
}

#drWiki h1, #drWiki h2, #drWiki h3, #drWiki h4, #drWiki h5, #drWiki h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .8em;
	padding-bottom: .24em;
	
	background:transparent url(http://www.dr.dk/sportscripts/wiki/bg_hr1px.gif) bottom left repeat-x;
}
#drWiki h1 {
	background:transparent url(http://www.dr.dk/sportscripts/wiki/bg_hr.gif) bottom left repeat-x;
}

#drWiki h3,#drWiki h4,#drWiki h5,#drWiki h6 {
	border-bottom: none;
	font-weight: bold;
}
#drWiki h3 { font-size: 132%; }
#drWiki h4 { font-size: 116%; }
#drWiki h5 { font-size: 100%; }
#drWiki h6 { font-size: 80%;  }



#drWiki h1 {font-size:18px;line-height:24px;}
#drWiki h2 {color:#686d71;font-size:16px;line-height:22px;}
#drWiki h3 {color:#686d71;font-size:11px;line-height:20px;}
#drWiki p {font-size:11px;line-height:14px;}

#drWiki .editsection {padding-top: 1em;}
















#drWiki ul,
#drWiki *[dir=ltr] ul {
	line-height: 1.5em;
	list-style-type: square;
	padding:0;
	margin: 0;
	/*list-style-image: url(arrow.gif);*/
	/*background:transparent url(arrow.gif) 11px 6px no-repeat;*/
}
#drWiki *[dir=rtl] ul {
	margin-left: 0;
	margin-right: 1.5em;
}
#drWiki ol,
#drWiki *[dir=ltr] ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
#drWiki *[dir=rtl] ol { 
	margin-left: 0;
	margin-right: 2.4em;
}
#drWiki li {
	padding: 1px 0 1px 17px;
	margin-bottom: .1em;
	/*list-style-image: url(arrow.gif);*/
	background:transparent url(http://www.dr.dk/sportscripts/wiki/arrow.gif) 4px 6px no-repeat;
	list-style-type:none;
}
#drWiki dt {
	font-weight: bold;
	margin-bottom: .1em;
}
#drWiki dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
#drWiki dd,
#drWiki *[dir=ltr] dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-right: 0;
	margin-bottom: .1em;
}
#drWiki *[dir=rtl] dd {
	margin-left: 0;
	margin-right: 1.6em;
}

#drWiki fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 1em 1em;
	line-height: 1.5em;
}
#drWiki legend {
	background: white;
	padding: .5em;
	font-size: 95%;
}
#drWiki form {
	border: none;
	margin: 0;
}

#drWiki textarea {
	width: 100%;
	padding: .1em;
}

#drWiki input.historysubmit {
	padding: 0 .3em .3em .3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
#drWiki select {
	vertical-align: top;
}
#drWiki abbr,#drWiki  acronym,#drWiki  .explain {
	border-bottom: 1px dotted #4189a3;
	color: black;
	background: none;
	cursor: help;
}
#drWiki q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
#drWiki code {
	background-color: #f9f9f9;
}
#drWiki pre {
white-space: normal;
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}







/* ---------------------------------------------------------------------------------------------- */



#siteSub {
	display: none;
}

#jump-to-nav {
	display: none;
}


#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}

/* Some space under the headers in the content area */

#bodyContent h1, #bodyContent h2 {
	margin-bottom: .6em;
}
#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom: .3em;
}
#drWiki .firstHeading {
	margin-top:0px;
	margin-right:10px;
	margin-bottom: 2px;
	/*margin-bottom: 1.4em;*/
}
#drWiki .firstHeading a {
	font-size:18px;
	line-height:24px;
	color:#000;
}
#drWiki .subHeading {
	margin-bottom:10px;
}
/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

#catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}
/* currently unused, intended to be used by a metadata box
in the bottom-right corner of the content area */
.documentDescription {
	/* The summary text describing the document */
	font-weight: bold;
	display: block;
	margin: 1em 0;
	line-height: 1.5em;
}
.documentByLine {
	text-align: right;
	font-size: 90%;
	clear: both;
	font-weight: normal;
	color: #76797c;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

/*
** content styles
*/

#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
	background-image:none;
	color:#686d71;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	/*text-align: center;*/
	border-bottom:1px solid #999999;
	margin-bottom:3px;

}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright,
*[dir=ltr] div.floatright,
table.floatright,
*[dir=ltr] table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft,
*[dir=ltr] div.floatleft,
table.floatleft,
*[dir=ltr] table.floatleft {
	float: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumb div {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
div.thumb div a img {
	border: 1px solid #ccc;
}
div.thumb div div.thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: .3em 0 .1em 0;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright,
*[dir=ltr] div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
*[dir=rtl] div.tright, 
*[dir=rtl] div.floatright,
*[dir=rtl] table.floatright {
	clear:none;
}


div.tright {margin: 0pt 0pt 0.5em 1em; float: right; clear: right;}





div.tleft,
*[dir=ltr] div.tleft {
	float: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
*[dir=rtl] div.tleft,
*[dir=rtl] div.floatleft,
*[dir=rtl] table.floatleft {
	clear: left;
}
.hiddenStructure {
	display: none;
	speak: none;
}


div.tleft {
	float: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
div.townBox {
	position: relative;
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: .3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.townBox dl {
	padding: 0;
	margin: 0 0 .3em;
	font-size: 96%;
}
div.townBox dl dt {
	background: none;
	margin: .4em 0 0;
}
div.townBox dl dd {
	margin: .1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment {
	color: gray;
}
#pagehistory span.user {
	margin-left: 1.4em;
	margin-right: .4em;
}
#pagehistory span.minor {
	font-weight: bold;
}
#pagehistory li {
	border: 1px solid white;
}
#pagehistory li.selected {
	background-color: #f9f9f9;
	border: 1px dashed #aaa;
}

/*
** Diff rendering
*/

#drWiki table.diff {
	width:600px;
	overflow:auto;
	/*background-color: white;*/
}
table.diff, td.diff-otitle, td.diff-ntitle {
	/*background-color: white;*/
}
td.diff-addedline {
	background: #cfc;
	font-size: smaller;
}
td.diff-deletedline {
	background: #ffa;
	font-size: smaller;
}
td.diff-context {
	background: #eee;
	font-size: smaller;
}
span.diffchange {
	color: red;
	font-weight: bold;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
	background: url(lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
	background: url(mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
	background: url(news_icon.png) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
	background: url(file_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
	background: url(discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}
/* disable interwiki styling */
#bodyContent a.extiw,
#bodyContent a.extiw:active {
	color: #4189a3;
	background: none;
	padding: 0;
}
#bodyContent a.external {
	color: #4189a3;
}
/* this can be used in the content area to switch off
special external link styling */
#bodyContent .plainlinks a,
#bodyContent *[dir="rtl"] a {
	background: none !important;
	padding: 0 !important;
}
/* ------------------------------------------------------------------------------ */

/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/



#drWiki .portlet {
	border: none;
	padding: 0;
	float: none;
	overflow: hidden;

}
#drWiki .portlet h4 {
	font-weight: normal;
	white-space: nowrap;
}
#drWiki .portlet h5 {
	display:none;
	color:#fff;

	white-space: nowrap;
}
#drWiki .portlet h6 {
	background: #ffae2e;
	border: 1px solid #2f6fab;
	border-style: solid solid none solid;
	padding: 0 1em 0 1em;
	text-transform: lowercase;
	display: block;
	font-size: 1em;
	height: 1.2em;
	font-weight: normal;
	white-space: nowrap;
}

#drWiki .pBody {

	border-collapse: collapse;
	/*padding: 0 .8em .3em .5em;*/
}
#drWiki .portlet h1,
#drWiki .portlet h2,
#drWiki .portlet h3,
#drWiki .portlet h4 {
	margin: 0;
	padding: 0;
}
#drWiki .portlet ul {
/*
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url(bullet.gif);
*/
}
#drWiki .portlet li {
	display:inline;
}

#drWiki #p-lang {
	padding:0 0 10px 0;
}
#drWiki #p-lang h5 {
	display:block;
	color:#686d71;
	padding:0 0 4px 0;
	margin:10px 0 10px 0;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
}
#drWiki #p-lang li a,#drWiki #p-lang li a:visited {
	color:#4189a3;
}

#p-tb {
margin-top:10px;
border-bottom:1px solid #b11d39;
}
#p-tb h5 {display:block;}
#p-tb li {padding-left:22px;background:#efebc2 url(http://www.dr.dk/sportscripts/wiki/arrow.gif) 11px 6px no-repeat;}

#drWiki .portlet a {
	color:#000000;
}
#drWiki .portlet a:visited {
	color:#000000;
}





/*
** Search portlet
*/
#drWiki #p-search {display:block;} 
#drWiki #p-search .inner_search {float:right;}
#drWiki #p-search h5 {display:none;}
#drWiki #p-search .pBody {background-color:#e1e9d4;padding:8px 10px 8px 10px;margin-right:10px;}
#drWiki #p-search #searchBody  {text-align:right;}
#drWiki #p-search input {margin:0;padding:0;background-color:#c6c8ca;color:#414042;font-size:10px;line-height:11px;border:1px solid #999;}
#drWiki #p-search #searchInput {width:120px;background-color:#fff;height:12px;margin:0;padding:2px;}
#drWiki #searchGoButton {font-weight: bold;}



/* ------------------------------------------------------------------------------- */

/*
** the personal toolbar
*/

#drWiki #p-personal {
	padding:4px 0 0 0;
	border: none;
	background: none;
}

#drWiki #p-personal h5 {
	display: none;
}
#drWiki #p-personal .portlet,
#drWiki #p-personal .pBody {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}
/* this is the ul contained in the portlet */
#drWiki #p-personal ul {
	border: none;
	padding:0;
	margin: 0;
	list-style: none;
	background: none;
	cursor: default;
}
#drWiki #p-personal li {
	border: none;
	padding: 0;
	display:inline;
	text-align:left;
	padding:1px 0px 1px 0px;
	background-image:none;
}
#drWiki #p-personal li span {
	color: #e3edf0;
	padding:0 4px 0 0;
	
}

#drWiki #p-personal li.active {
	font-weight: bold;
}
#drWiki #p-personal li a , #drWiki #p-personal li a:visited {
	text-decoration: none;
	color: #e3edf0;
	background: none;
	
}
#drWiki #p-personal li a:hover {
	text-decoration: underline;
}
#drWiki #p-personal li.active a:hover {
	background-color: transparent;
}
/* the icon in front of the user name, single quotes
in bg url to hide it from iemac */
#drWiki li#pt-userpage,
#drWikili #pt-anonuserpage,
#drWiki li#pt-login {


	background:transparent;
	/*
	padding-left: 25px;
	text-transform: none;
	*/
}


/* ----------------------------------------------------------------------------------------------------- */
/*
** the page-related actions- page/talk, edit etc
*/
#p-cactions {
	position:absolute;
	top:43px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	background: none;
	/*border-collapse: collapse;*/
	list-style: none;
	
	height:17px;

}
#p-cactions .hiddenStructure {
	display: none;
}
#p-cactions ul {
	list-style: none;
}
#p-cactions li {
	float:left;
	padding: 0;
	margin:0;
}

#p-cactions li a {
	display:block;
	border-bottom: 1px solid #transparent;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-top:1px solid #fff;
	font-size:11px;
	line-height:11px;
	padding:2px 10px 2px 10px;
	margin: 0 .6em 0 0 ;
	text-decoration: none;
	/*text-transform: lowercase;*/
	background-color: #4189a3;
	color:white;

}
#p-cactions li a:visited {color:#fff;}
#p-cactions li a:hover {
	border-top:1px solid #fff;
	text-decoration: none;
	color: #000;
	background-color: #fff;
}
#p-cactions li.selected a,#p-cactions li.selected a:visited {

	padding:2px 10px 2px 10px;
	color: #4189a3;



	border:1px solid #ffffff;
	background-color: white;
}



#p-cactions .new a {
	color: #fff;
}

#p-cactions h5 {
	display: none;
}
#p-cactions li.istalk {
	margin-right: 0;
}
#p-cactions li.istalk a {
	padding-right: .5em;
}
#p-cactions #ca-addsection a {
	padding-left: .4em;
	padding-right: .4em;
}









/* offsets to distinguish the tab groups */
li#ca-talk {
	margin-right: 1.6em;
}
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
	margin-left: 1.6em;
}

/*
** the remaining portlets
*/


/* TODO: #t-iscite is only used by the Cite extension, come up with some
 * system which allows extensions to add to this file on the fly
 */
#t-ispermalink, #t-iscite {
	color: #999;
}

/* ------------------------------------------------------------------------------------- */

/* hide from incapable browsers */
head:first-child+body #footerWiki li { white-space: nowrap; }
#drWiki #f-poweredbyico, #f-copyrightico {
	margin: 0 8px;
	position: relative;
	top: -2px; /* Bump it up just a tad */
}
#drWiki #f-poweredbyico {
	float: right;
	height: 1%;
}
#drWiki #f-copyrightico {
	float: left;
	height: 1%;
}

/* js pref toc */
#drWiki #preftoc {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#drWiki #preftoc li {
	margin: 1px -2px 1px 2px;
	float: left;
	padding: 2px 0 3px 0;
	background-color: #f0f0f0;
	color: #000;
	border: 1px solid #fff;
	border-right-color: #716f64;
	border-bottom: 0;
	position: relative;
	white-space: nowrap;
	list-style-type: none;
	list-style-image: none;
	z-index: 3;
	background-image:none;
}
#drWiki #preftoc li.selected {
	font-weight: bold;
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-bottom: none;
	cursor: default;
	top: 1px;
	padding-top: 2px;
	margin-right: -3px;
}
#drWiki #preftoc > li.selected {
	top: 2px;
}
#drWiki #preftoc a,
#drWiki #preftoc a:active {
	display: block;
	color: #000;
	padding: 0 .7em;
	position: relative;
	text-decoration: none;
}
#drWiki #preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}
#drWiki #prefcontrol {
	padding-top: 2em;
	clear: both;
}
#drWiki #preferences {
	margin: 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em;
	background-color: #F9F9F9;
}
#drWiki .prefsection {
	border: none;
	padding: 0;
	margin: 0;

}
#drWiki .prefsection input {
	background-color:#fff;
}
#drWiki .prefsection fieldset {
	background-color:#fff;
	border: 1px solid #aaa;
	float: left;
	margin-right: 2em;
}
#drWiki .prefsection legend {
	font-weight: bold;   
}
#drWiki .prefsection table, #drWiki .prefsection legend {

}
#drWiki .mainLegend {
	display: none;
}
#drWiki div.prefsectiontip {
	display:block;
	font-size: 95%;
	margin-top: 0;
	background-color: #FFC1C1;
	padding: .2em .7em;
	clear: both;
	width:100%;
}
#drWiki .btnSavePrefs {
	font-weight: bold;
	padding-left: .3em;
	padding-right: .3em;
}

#drWiki .preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}

#drWiki .prefcache {
	font-size: 90%;
	margin-top: 2em;
}

#drWiki div#userloginForm form,
#drWiki div#userlogin form#userlogin2 {
	margin: 0 3em 1em 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em 2em;
	background-color: #f9f9f9;

}

#drWiki div#userloginForm table,
#drWiki div#userlogin form#userlogin2 table {
	background-color: #f9f9f9;
}

#drWiki div#userloginForm h2,
#drWiki div#userlogin form#userlogin2 h2 {
	padding-top: 0;
}
/*
div#userloginForm table {width:350px}
*/


#drWiki div#userloginForm td {}
/*
div#userloginForm td {position:relative;}
div#userloginForm #wpMailmypassword {
	position:absolute;
	top:364px;
	left:300px;
}
*/

#drWiki div#userloginForm #wpMailmypassword {padding-left:1px;padding-right:1px;width:300px;}



#drWiki div#userlogin .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	background-color: white;
}


#drWiki #userloginprompt {
	font-size: 85%;
}

#drWiki #login-emailforlost {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

#drWiki #userlogin .loginText, #drWiki #userlogin .loginPassword {
	width: 12em;
}

#drWiki #userloginlink a, #drWiki #wpLoginattempt, #drWiki #wpCreateaccount {
	font-weight: bold;
}


/* -----------------------------------------------------------------------------*/

/*
** IE/Mac fixes, hope to find a validating way to move this
** to a separate stylesheet. This would work but doesn't validate:
** @import("IEMacFixes.css");
*/
/* tabs: border on the a, not the div */
* > html #p-cactions li { border: none; }
* > html #p-cactions li a {
	border: 1px solid #aaa;
	border-bottom: none;
}
* > html #p-cactions li.selected a { border-color: #fabd23; }
/* footer icons need a fixed width */
* > html #f-poweredbyico,
* > html #f-copyrightico { width: 88px; }
* > html #bodyContent,
* > html #bodyContent pre {
/*
	overflow-x: auto;
	width: 100%;
*/
	padding-bottom: 25px;
}

/* more IE fixes */
/* float/negative margin brokenness */
* html #footerWiki {margin-top: 0;}
* html #column-content {
	display: inline;
	margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }

/* Mac IE 5.0 fix; floated content turns invisible */
* > html #column-content {
	float: none;
}
* > html #column-one {
	position: absolute;
	left: 0;
	top: 0;
}
* > html #footerWiki {
	margin-left: 13.2em;
}
.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	font-size: 75%;
	text-align: right;
}
span.newpage, span.minor, span.searchmatch {
	font-weight: bold;
}
span.unpatrolled {
	font-weight: bold;
	color: red;
}

span.searchmatch {
	color: red;
}
.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}
span.newpageletter {
	font-weight: bold;
	color: black;
	background-color: yellow;
}
span.minoreditletter {
	color: black;
	background-color: #c5ffe6;
}

table.gallery {
	border: 1px solid #ccc;
	margin: 2px;
	padding: 2px;
	background-color: white;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px white;
}

div.gallerybox {
	margin: 2px;
	width:  150px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

li span.deleted, span.history-deleted {
	text-decoration: line-through;
	color: #888;
	font-style: italic;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

table.collapsed tr.collapsable {
	display: none;
}


/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}
#editform * {margin:.2em 0 .2em 0;}
#editform .editOptions {
	display: inline;
}
#editform input {background-color:#fbfbfb;border:1px solid #333333;}
#editform textarea {background-color:#fbfbfb;border:1px solid #333333;}
#wpSave {
	font-weight: bold;
}

/* Classes for article validation */

table.revisionform_default {
	border: 1px solid #000000;
}

table.revisionform_focus {
	border: 1px solid #000000;
	background-color:#00BBFF;
}

tr.revision_tr_default {
	background-color:#EEEEEE;
}

tr.revision_tr_first {
	background-color:#DDDDDD;
}

p.revision_saved {
	color: green;
	font-weight:bold;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}


/* Allmessages table */

#allmessagestable th {
	background-color: #b2b2ff;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
}


/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left:       10px;
	top:        10px;
	width:      90%;
	background: white;
}

div#searchTarget {
	padding:    3px;
	margin:     5px;
	background: #F0F0F0;
	border:     solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

